<head>
    {{ if not .Site.IsServer }}
        {{ with .Site.GoogleAnalytics }}
        <!-- Global site tag (gtag.js) - Google Analytics -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-6JWB35KP1C"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());

            gtag('config', 'G-6JWB35KP1C');
        </script>
      {{ end }}
    {{ end }}
    {{ $styles := resources.Get "css/style.css" | postCSS }}
    {{ if .Site.IsServer }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ else }}
        {{ $styles := $styles | minify | fingerprint | resources.PostProcess }}
        <link rel="stylesheet" href="{{ $styles.RelPermalink }}" />
    {{ end }}
    <link href=' {{ "/css/blonde.min.css" | relURL }}' rel="stylesheet" type="text/css" media="print"
        onload="this.media=' all'">
</head>
